*.db
*.log
*.storage
*.swp
*.xpr
*~

docker/alpine_base.stamp
docker/alpine_go_mod.stamp
docker/debian_base.stamp
docker/debian_go_mod.stamp
docker/cache
docker/voting_mixnet
genconfig/genconfig
memspool/server/cmd/memspool/memspool
panda/server/cmd/panda_server/panda_server
reunion/servers/reunion_katzenpost_server/reunion_katzenpost_server
server/cmd/server/server
server_plugins/cbor_plugins/echo-go/echo_server
.idea

dist/

docs/web/Admin_guide/target/en/
