# Katzenpost voting authority configuration file.

#
# The Authority section contains mandatory information.
#

[Authority]

  # Addresses are the IP address/port combinations that the authority will bind
  # to for incoming connections.
  Addresses = [ "127.0.0.1:21483", "[::1]:29483" ]

  # DataDir is the absolute path to the server's state files.
  # Must have 700 permissions.
  DataDir = "/tmp/katzenpost-authority"

#[[Authorities]]
#   IdentityPublicKeyPem = "auth1_id_pub.pem"
#   LinkPublicKeyPem = "auth1_link_pub.pem"
#   Addresses = [ "172.28.1.10:21483" ]

[[Authorities]]
   IdentityPublicKeyPem = "auth2_id_pub.pem"
   LinkPublicKeyPem = "auth2_link_pub.pem"
   Addresses = [ "172.28.1.8:22483" ]

[[Authorities]]
   IdentityPublicKeyPem = "auth3_id_pub.pem"
   LinkPublicKeyPem = "auth3_link_pub.pem"
   Addresses = [ "172.28.1.9:23483" ]
[Debug]
  MinNodesPerLayer = 1

#
# The Logging section controls the logging.
#

[Logging]

  # Disable disables logging entirely.
  Disable = false

  # File specifies the log file, if omitted stdout will be used.
  #File = "/var/log/katzenpost-authority.log"

  # Level specifies the log level out of `ERROR`, `WARNING`, `NOTICE`,
  # `INFO` and `DEBUG`.
  #
  # Warning: The `DEBUG` log level is unsafe for production use.
  Level = "DEBUG"

#
# The Parameters section holds the network parameters.
#

[Parameters]

  # Send rate per minute rating limiting.
  SendRatePerMinute = 0

  # Mu is the inverse of the mean of the exponential distribution that
  # clients will use to sample delays.
  Mu = 0.001

  # MuMaxDelay is the maximum per-hop delay in milliseconds.
  #
  # If omitted, the MaxDelay will be derived from the 0.99999 quantile of
  # of the exponential distribution.
  MuMaxDelay = 90000

  # LambdaP is the mean of the poisson distribution that clients will use
  # to sample the send scheduling interval (seconds).
  LambdaP = 0.0001234

  # LambaPMaxDelay is the maximum send interval in milliseconds.
  LambdaPMaxDelay = 30000

  # LambdaL is the mean of the poisson distribution that clients will use
  # to sample the send scheduling interval (seconds).
  LambdaL = 0.0001234

  # LambaLMaxDelay is the maximum send interval in milliseconds.
  LambdaLMaxDelay = 30000

  # LambdaD is the mean of the poisson distribution that clients will use
  # to sample the send scheduling interval (seconds).
  LambdaD = 0.0001234

  # LambaDMaxDelay is the maximum send interval in milliseconds.
  LambdaDMaxDelay = 30000


#
# The Mixes array defines the list of white-listed non-provider nodes.
#

[[Mixes]]
  # mix1
  # IdentityKey is the node's EdDSA signing key, in either Base16 OR Base64
  # format.
  IdentityKeyPem = "mix1_id_pub.pem"

[[Mixes]]
  # mix2
  IdentityKeyPem = "mix2_id_pub.pem"

[[Mixes]]
  # mix3
  IdentityKeyPem = "mix3_id_pub.pem"

#
# The Providers array defines the list of white-listed Provider nodes.
#

[[Providers]]
  Identifier = "provider2"
  IdentityKeyPem = "provider2_id_pub.pem"

[[Providers]]
  Identifier = "provider1"
  IdentityKeyPem = "provider1_id_pub.pem"

# Topology defines the layers of mix nodes
[Topology]
# Layer 1
[[Topology.Layers]]
[[Topology.Layers.Nodes]]
  IdentityKeyPem = "mix1_id_pub.pem"

# Layer 2
[[Topology.Layers]]
[[Topology.Layers.Nodes]]
  IdentityKeyPem = "mix2_id_pub.pem"

# Layer 3
[[Topology.Layers]]
[[Topology.Layers.Nodes]]
  IdentityKeyPem = "mix3_id_pub.pem"
