name: govulncheck
on:
  push:
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Install RocksDB dependencies
        run: make install-replica-deps
      - name: Run govulncheck
        # Ignoring GO-2024-2605 and GO-2024-2606: pgx v3 SQL injection vulns
        # We are not migrating to pgx v4/v5 at this time
        run: go run golang.org/x/vuln/cmd/govulncheck@latest -ignore GO-2024-2605,GO-2024-2606 ./...

