name: Windows Msys2 64bit (cygwin,msvcrt,ucrt) gcc golang build and test

on: [push]

jobs:
  windows-build-and-test-golang:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        OS: ["windows-2019", "windows-2022"]
        CC: ["gcc"]
        ENVIRONMENT: ["UCRT64", "MINGW64"] # https://www.msys2.org/docs/environments/
        go-version: [ "1.19", "1.20", "1.21.x", "1.22.x"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Set up Msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.ENVIRONMENT }}
          install: >-
            base-devel
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-gcc
            mingw-w64-ucrt-x86_64-gcc
            mingw-w64-x86_64-go
            mingw-w64-ucrt-x86_64-go
            make
            git
            gcc

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Gather runtime environment
        shell: msys2 {0}
        run: |
         echo ${{ matrix.ENVIRONMENT }}
         uname -a
         bash --version
         ${{ matrix.CC }} -v
         go version

      - name: Install golang dependencies
        shell: msys2 {0}
        run: |
          export HIGHCTIDH_PORTABLE=1
          export CGO_ENABLED=1
          go get -v ./...;

      - name: Build golang
        shell: msys2 {0}
        run: |
          export HIGHCTIDH_PORTABLE=1
          export CGO_ENABLED=1
          export GOEXPERIMENT=cgocheck2
          export GODEBUG=cgocheck=1
          go build -v ./...;

      - name: Golang test
        shell: msys2 {0}
        run: |
          export HIGHCTIDH_PORTABLE=1
          export CGO_ENABLED=1
          export GOEXPERIMENT=cgocheck2
          export GODEBUG=cgocheck=1
          export CGO_LDFLAGS="-Wl,--no-as-needed -Wl,-allow-multiple-definition"
          go test -v ./...;
